body {
  margin: 0px;
}

nav {
  background-color: aliceblue;
  padding: 10px 24px;
  height: 48px;
}

#navIcon {
  float: left;
  display: block;
}

nav ul {
  display: block;
  float: left;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0px;
}

nav li {
  padding-left: 5px;
  float: left;
}

nav li a {
  color: black;
}
