@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf"),
    /* IE9 Compat Modes */ url("/fonts/Roboto-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
  min-width: 375px;
}

section:not(#intro) {
  padding: 50px 48px;
  line-height: 1.5em;
  margin: ;
}

section#approach {
  background: rgb(115, 0, 90);
  background: linear-gradient(
    90deg,
    rgba(115, 0, 90, 1) 0%,
    rgba(121, 9, 108, 1) 35%,
    rgba(156, 0, 255, 1) 100%
  );
}

p,
ul,
ol {
  font-family: "Roboto";
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
}

section#approach {
  color: white;
  text-align: center;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 800;
  font-family: "Roboto Condensed";
  float: left;
  cursor: pointer;
  background-color: rgb(240, 230, 240);
}

button.ghost {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

button.ghost:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

/* -------------------  NAV
*/

nav {
  background-color: rgba(255, 255, 255, 0.2);
  top: 0px;
  padding: 12px;
  height: 36px;
  width: 100%;
  position: fixed;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

#navIcon {
  float: left;
  display: flex;
  padding-left: 36px;
}

nav ul {
  display: block;
  text-transform: uppercase;
  list-style-type: none;
  margin: auto;
  padding: auto;
  text-align: center;
}

nav li {
  padding: 12px 24px;
  display: inline-block;
}

nav li:hover {
  text-decoration: underline;
}

nav li a:active {
  font-weight: 800;
}

nav li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

#navbg {
  width: 100%;
  background-color: rgb(138, 138, 138);
  height: 60px;
  position: sticky;
}

nav .burger {
  display: none;
}

/* 
---------------- Main
*/
/* 
----- Hero
*/

main {
  scroll-behavior: smooth;
}

#intro {
  background-image: url(/media/bg3.png);
  background-repeat: no-repeat;
  background-position: center;
}

#hero {
  background-image: linear-gradient(
    rgba(81, 91, 223, 0.8) 25%,
    rgba(212, 55, 152, 0.7)
  );
  padding: 13% 48px;
  max-height: 400px;
  min-height: 200px;
}

#intro h1 {
  font-size: 5em;
  width: 80%;
}

#intro p {
  font-size: 2em;
  width: 80%;
}

/* 
----- Content
*/

#copytext {
  float: left;
  width: 100%;
  max-width: 800px;
  margin-right: 48px;
}

/* 
-- Cards 1
*/

.card-container {
  overflow: hidden;
  border-radius: 12px 12px 12px 12px;
  min-width: 360px;
  max-width: 600px;
}

.card {
  background-color: rgb(238, 238, 238);
  color: black;
  width: 75%;
  padding: 12px 24px;
}

.card-image {
  display: flex;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
}

div.card-image img {
  width: 25%;
  height: auto;
  border-radius: 12px 0px 0px 12px;
  min-width: 150px;
}

div.card-image img#background {
  background: url("/media/self.png") center center no-repeat;
  background-size: cover;
}

/*-- small Cards for refs*/

.small-card {
  background-color: rgb(240, 240, 240);
  width: 300px;
  margin: 0px 16px 16px 0px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition-duration: 0.5s;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small-card img {
  object-fit: contain;
  width: 200px;
  height: 80px;
  margin: 12px;
}

.small-card:hover {
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.18);
  background-color: rgb(230, 230, 230);
}

/*-- big Cards for process*/
.big-card img {
  width: 30%;
  border-radius: 12px;
  float: left;
  margin: 24px;
  min-width: 360px;
}

.big-card .content {
  float: left;
  width: 50%;
  text-align: left;
  min-width: 360px;
}

.big-card {
  padding: 24px 0px;
}

/* 
---------------- Responsive Stuff
*/

@media only screen and (max-width: 672px) {
  nav {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  nav ul {
    display: none;
  }

  nav.mobile > ul {
    background-color: white;
    width: 100%;
    margin-left: -84px;
    margin-top: -12px;
    padding: 240px 48px;
    height: 1000px;
    display: block;
    animation-duration: 1s;
  }

  nav li {
    padding: 12px 24px;
    display: block;
  }

  nav button {
    all: unset;
  }

  #navIcon {
    z-index: 2;
  }

  /* burger menu */

  nav .burger {
    width: 100px;
    background-color: transparent;
    padding: unset;
    margin: unset;
    height: 40px;
    position: absolute;
    right: 12px;
    cursor: pointer;
    display: unset;
  }

  .opened {
  }

  .line {
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .burger .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6 {
    stroke-width: 0.1em;
    stroke: black;
  }

  .burger .p2 {
    stroke-dasharray: 30 0;
    stroke-dashoffset: 0;
  }

  .opened .p2 {
    stroke-dasharray: 0 27;
    stroke-dashoffset: 4;
  }

  .burger .p4 {
    stroke-dasharray: 30 200;
    stroke-dashoffset: 150;
  }

  .burger .p5 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 170;
  }

  .opened .p4,
  .opened .p5 {
    stroke-dasharray: 35 124;
    stroke-dashoffset: 160;
  }

  /*
  .burger .p1,
  .p3 {
    stroke-dasharray: 125 33;
    stroke-dashoffset: 126;
  }

  .opened .p1,
  .p3 {
    stroke-dasharray: 125 33;
    stroke-dashoffset: 126;
  }

  .burger .p5,
  .p4 {
    stroke-dasharray: 55 115;
    stroke-dashoffset: 100;
  }

  .burger .p2 {
    stroke-dasharray: 200;
    stroke-dashoffset: 100;
  }

  .opened .p5 {
    stroke-dasharray: 40 100;
    stroke-dashoffset: 6;
    stroke-width: 0.2em;
    stroke: blue;
  }

  .opened .p4 {
    stroke-dasharray: 40 100;
    stroke-dashoffset: 6;
    stroke-width: 0.2em;
    stroke: blue;
  }

  .opened .p2 {
    stroke-dasharray: 0 100;
    stroke-dashoffset: 0;
    stroke-width: 0.2em;
    stroke: blue;
  }

  */
  /*
  nav ul {
    display: block;
    text-transform: uppercase;
    list-style-type: none;
    margin: auto;
    padding: auto;
    text-align: center;
  }

  nav li {
    padding: 12px 24px;
    display: inline-block;
  }

  nav li:hover {
  text-decoration: underline;
}

nav li a:active {
  font-weight: 800;
}

nav li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

#navbg {
  width: 100%;
  background-color: rgb(138, 138, 138);
  height: 60px;
  position: sticky;
}
  */

  #intro h1 {
    font-size: 3em;
  }

  #intro p {
    font-size: 1.5em;
  }

  div.card-image img {
    width: 100%;
    height: 200px;
    border-radius: 12px 12px 0px 0px;
  }

  .card-image {
    flex-direction: column;
  }
  /*----------------------*/

  .card {
    width: auto;
    border-radius: 0px 0px 12px 12px;
  }
}

@media only screen and (min-width: 1500px) {
  section#about,
  section#approach,
  section#clients,
  section#connect {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media only screen and (max-width: 920px) {
  #intro h1 {
    font-size: 4em;
  }
  #intro p {
    font-size: 1.7em;
  }

  #copytext {
    max-width: unset;
    margin-right: unset;
  }

  .big-card .content {
    width: unset;
    max-width: unset;
  }
}

@media only screen and (max-width: 550px) {
  #intro h1 {
    font-size: 3em;
  }
  #intro p {
    font-size: 1.3em;
  }
  section#about,
  section#approach,
  section#clients,
  section#connect {
    padding-left: 12px;
    padding-right: 12px;
  }
  .big-card img {
    padding: 24px 0px 24px 0px;
    margin: unset;
  }
}
