@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf"),
    /* IE9 Compat Modes */ url("/fonts/Roboto-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

section:not(#intro) {
  padding: 50px 0px;
  line-height: 1.5em;
}

section#approach {
  background: rgb(115, 0, 90);
  background: linear-gradient(
    90deg,
    rgba(115, 0, 90, 1) 0%,
    rgba(121, 9, 108, 1) 35%,
    rgba(156, 0, 255, 1) 100%
  );
}

p,
ul {
  font-family: "Roboto";
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* -------------------  NAV
*/

nav {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px 36px;
  height: 36px;
  width: 100%;
  position: fixed;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

#navIcon {
  float: left;
  display: block;
}

#burger {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 48px;
  display: none;
  cursor: pointer;
}

#burger .p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
  stroke-width: 0.1em;
  stroke: black;
}

nav ul {
  display: block;
  text-transform: uppercase;
  list-style-type: none;
  margin: auto;
  padding: auto;
  text-align: center;
}

nav li {
  padding: 12px 24px;
  display: inline-block;
}

nav li:hover {
  text-decoration: underline;
}

nav li:active {
  font-weight: bold;
}

nav li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

#navbg {
  width: 100%;
  background-color: rgb(138, 138, 138);
  height: 60px;
  position: sticky;
}

/* 
---------------- Main
*/
/* 
----- Hero
*/

main {
  padding: 36px;
  scroll-behavior: smooth;
}

#intro {
  background-image: url(/media/bg3.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: -36px -36px 0 -36px;
}

#hero {
  background-image: linear-gradient(
    rgba(81, 91, 223, 0.8) 25%,
    rgba(212, 55, 152, 0.7)
  );
  padding: 15% 10%;
  max-height: 400px;
}

#intro h1 {
  font-size: 5em;
  width: 80%;
}

#intro p {
  font-size: 2em;
  width: 80%;
}

/* 
----- Content
*/

#copytext {
  float: left;
  width: 100%;
  max-width: 800px;
  margin-right: 48px;
}

/* 
-- Cards 1
*/

.card-container {
  overflow: hidden;
  border-radius: 12px 12px 12px 12px;
  min-width: 360px;
  max-width: 600px;
}

.card {
  background-color: rgb(238, 238, 238);
  color: black;
  width: 75%;
  padding: 12px 24px;
}

.card-image {
  display: flex;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
}

div.card-image img {
  width: 25%;
  height: auto;
  border-radius: 12px 0px 0px 12px;
  min-width: 150px;
}

div.card-image img#background {
  background: url("/media/self.png") center center no-repeat;
  background-size: cover;
}

div.card-image img#goals {
  background: url("https://crowdfavorite.com/wp-content/uploads/2006/09/desirability-feasibility-viability-diagram.gif")
    center center no-repeat;
  background-size: cover;
}

/*-- Big Card?*/

.big-card {
  background-color: antiquewhite;
}

/* 
---------------- Responsive Stuff
*/

@media only screen and (max-width: 672px) {
  nav ul {
    display: none;
  }

  #burger {
    display: block;
  }

  #intro h1 {
    font-size: 3em;
  }

  #intro p {
    font-size: 1.5em;
  }

  div.card-image img {
    width: 100%;
    height: 200px;
    border-radius: 12px 12px 0px 0px;
  }

  .card-image {
    flex-direction: column;
  }
  /*----------------------*/

  .card {
    width: auto;
    border-radius: 0px 0px 12px 12px;
  }
}
